* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

nav {
    padding: 8%;
}

.fs {
    font-size: 14px;
}

#landing-page {
    padding: 20% 8% 0 8%;
    background-color: #F1F3FF;
}

#our-service {
    padding: 14% 8% 8% 8%;
    background: #E5E5E5;
}

#why-us {
    padding: 14% 8% 8% 8%;
}

.title {
    padding: 0 0 8px 21px;
    line-height: 50px;
}

.title h2 {
    font-size: 24px; 
    font-weight: 700;
}

.title-center { 
    text-align: center;
    padding: 0 0 8px 21px;
    line-height: 50px;
}

.title-center h2 {
    font-size: 24px; 
    font-weight: 700;
}

.card {
    padding: 10px;
    margin: 10px;
}

#testimonial {
    padding: 6% 8% 12% 8%;
}

.padding-image {
    padding-bottom: 15px;
}

#getting-started {
    text-align: center;
    line-height: 50px;
    color: white;
    padding: 8%;
}

.card-blue {
    background: #0D28A6;
    padding: 50px;
    border-radius: 10px;
}

.list-service ul {
    /* list-style-image: url('/assets/icon/checklist.png'); */
    list-style: none;
}

.list-service ul li {
    background: url(/assets/icon/checklist.png) left center no-repeat;
    font-size: 14px; 
    line-height: 40px;
    padding-left: 40px;
    position: relative;
    right: 32px;
}

p {
    font-size: 14px;
    font-weight: 300;
}

.card-title {
    font-weight: 700;
}

.btn-carousel {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
  
.carousel-control {
    background: #5cb85f;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 10px;
}

.fa-angle-left, .fa-angle-right {
    color: white;
}

.checked {
    color: #F9CC00;
}
#faq {
    padding: 12% 8% 12% 8%;
}

.fa-thumbs-up {
    color: white;
    background: #F9CC00;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

.fa-tag {
    color: white;
    background: #FA2C5A;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

.fa-clock-o {
    color: white;
    background: #0D28A6;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

.fa-certificate {
    color: white;
    background: #5CB85F;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    background: #E5E5E5;;
    padding: 4% 8% 4% 8%;
    text-decoration: none;
}

.decoration a {
    text-decoration: none;
    color: #000;
}

.decoration ul {
    list-style-type: none;
}

.decoration ul li {
    padding-bottom: 7px;
}

.fa-facebook, .fa-instagram, .fa-twitter, .fa-envelope-o, .fa-twitch {
    color: white;
    background: #0D28A6;
    border-radius: 50%;
    padding: 10px;
}